$TTL    604800
@       IN      SOA     ns1.miempresa.com. admin.miempresa.com. (
                         1         ; Serial
                     604800         ; Refresh
                      86400         ; Retry
                    2419200         ; Expire
                     604800 )       ; Negative Cache TTL

        IN      NS      ns1.miempresa.com.
        IN      NS      ns2.miempresa.com.

ns1     IN      A       203.0.113.10   ; DNS primario
ns2     IN      A       203.0.113.20   ; DNS secundario

www     IN      A       198.51.100.10  ; IP pública proxy Apache
usuarios IN     A       198.51.100.10  ; IP pública proxy Apache
